name: Frontend DevSecOps CI

on:
  push:
    branches: [ "master" ]
  pull_request:

env:
  IMAGE_NAME: pranavshejul15/devsecops
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-scan-push:
    runs-on: ubuntu-latest
    environment: devsecops
    steps:
      # --------------------
      # Checkout
      # --------------------
      - name: Checkout source
        uses: actions/checkout@v4

      # --------------------
      # Node build
      # --------------------
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      # --------------------
      # Secrets scanning
      # --------------------
      - name: Gitleaks scan
        uses: gitleaks/gitleaks-action@v2
        continue-on-error: true

      # --------------------
      # Docker login
      # --------------------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # --------------------
      # Docker build & push
      # --------------------
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            docker.io/${{ env.IMAGE_NAME }}:latest
            docker.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      # --------------------
      # Trivy image scan
      # --------------------
      - name: Trivy image scan
        uses: aquasecurity/trivy-action@0.20.0
        continue-on-error: true
        with:
          scan-type: image
          image-ref: docker.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          severity: HIGH,CRITICAL
          format: table
          scanners: vuln
      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Verify cluster access
        run: kubectl get nodes

